Microsoft.SCIM.LogicAppValidationTemplate/StandardLogicApp/SCIMTests_Workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "initializationData": {
                "type": "object",
                "properties": {
                  "syncJobId": {
                    "type": "string"
                  },
                  "mappedUserTargetAttributes": {
                    "type": "array"
                  },
                  "mappedGroupTargetAttributes": {
                    "type": "array"
                  },
                  "schema": {
                    "type": "object"
                  },
                  "sourceToTargetLookup": {
                    "type": "array"
                  }
                }
              },
              "EnabledTests": {
                "type": "string"
              },
              "parentRunId": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Response_Immediate": {
        "runAfter": {
          "Initialize_SCIM_Test_Variables_2": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 202,
          "body": {
            "workflowRunId": "@workflow().run.name",
            "workflowName": "@workflow().name",
            "status": "Accepted",
            "message": "SCIMTests workflow started. Tests are running asynchronously."
          }
        }
      },
      "Initialize_SCIM_Test_Variables": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SchemaDiscoverabilityTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "SCIMNullUpdateFailedActionName",
              "type": "string",
              "value": ""
            },
            {
              "name": "SCIMNullUpdateScopeExecutionStatus",
              "type": "string",
              "value": "InProgress"
            },
            {
              "name": "SCIMNullUpdateTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "scimNullPatchOperations",
              "type": "Array",
              "value": []
            },
            {
              "name": "scimNullUpdateResults",
              "type": "Array",
              "value": []
            },
            {
              "name": "scimNullCreateBody",
              "type": "Object",
              "value": {}
            },
            {
              "name": "ValidateCredentialsTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "flattenedUserAttrNames",
              "type": "Array",
              "value": []
            },
            {
              "name": "flattenedGroupAttrNames",
              "type": "Array",
              "value": []
            }
          ]
        }
      },
      "Initialize_SCIM_Test_Variables_2": {
        "runAfter": {
          "Initialize_SCIM_Test_Variables": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SCIMUserCreateTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "SCIMGroupCreateTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "scimDirectCreatedUserId",
              "type": "string",
              "value": ""
            },
            {
              "name": "scimDirectCreatedGroupId",
              "type": "string",
              "value": ""
            },
            {
              "name": "scimDirectUserCreateBody",
              "type": "Object",
              "value": {}
            },
            {
              "name": "scimDirectGroupCreateBody",
              "type": "Object",
              "value": {}
            },
            {
              "name": "SCIMUserUpdateTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "SCIMGroupUpdateTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "scimDirectUpdateUserId",
              "type": "string",
              "value": ""
            },
            {
              "name": "scimDirectUpdateGroupId",
              "type": "string",
              "value": ""
            },
            {
              "name": "SCIMUserPaginationTestOutputs",
              "type": "Object",
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              }
            },
            {
              "name": "scimUserPaginationCreatedIds",
              "type": "Array",
              "value": []
            },
            {
              "name": "scimUserPaginationNextUrl",
              "type": "string",
              "value": ""
            },
            {
              "name": "scimUserPaginationPageCount",
              "type": "Integer",
              "value": 0
            },
            {
              "name": "scimUserPaginationResults",
              "type": "Array",
              "value": []
            },
            {
              "value": {
                "overallResult": "SKIPPED",
                "result": "SKIPPED",
                "summary": null,
                "detailedResults": [],
                "errorDetails": {
                  "summary": null
                }
              },
              "name": "SCIMGroupPaginationTestOutputs",
              "type": "Object"
            },
            {
              "value": [],
              "name": "scimGroupPaginationCreatedIds",
              "type": "Array"
            },
            {
              "value": "",
              "name": "scimGroupPaginationNextUrl",
              "type": "string"
            },
            {
              "value": 0,
              "name": "scimGroupPaginationPageCount",
              "type": "Integer"
            },
            {
              "value": [],
              "name": "scimGroupPaginationResults",
              "type": "Array"
            }
          ]
        }
      },
      "SCIMTests_Scope": {
        "actions": {
          "Schema_Discoverability_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_Get_Schemas": {
                "type": "Http",
                "inputs": {
                  "uri": "@{concat(parameters('scimEndpoint'), '/Schemas')}",
                  "method": "GET",
                  "headers": {
                    "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                    "Accept": "@{parameters('scimContentType')}"
                  }
                }
              },
              "Filter_User_Schema": {
                "runAfter": {
                  "SCIM_Get_Schemas": [
                    "Succeeded"
                  ]
                },
                "type": "Query",
                "inputs": {
                  "from": "@coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]'))",
                  "where": "@equals(item()?['id'], 'urn:ietf:params:scim:schemas:core:2.0:User')"
                }
              },
              "Filter_EnterpriseUser_Schema": {
                "runAfter": {
                  "SCIM_Get_Schemas": [
                    "Succeeded"
                  ]
                },
                "type": "Query",
                "inputs": {
                  "from": "@coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]'))",
                  "where": "@equals(item()?['id'], 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User')"
                }
              },
              "Filter_Group_Schema": {
                "runAfter": {
                  "SCIM_Get_Schemas": [
                    "Succeeded"
                  ]
                },
                "type": "Query",
                "inputs": {
                  "from": "@coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]'))",
                  "where": "@equals(item()?['id'], 'urn:ietf:params:scim:schemas:core:2.0:Group')"
                }
              },
              "Compose_All_User_Schema_Attrs": {
                "runAfter": {
                  "Filter_User_Schema": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@coalesce(first(body('Filter_User_Schema'))?['attributes'], json('[]'))"
              },
              "Compose_All_Group_Schema_Attrs": {
                "runAfter": {
                  "Filter_Group_Schema": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@coalesce(first(body('Filter_Group_Schema'))?['attributes'], json('[]'))"
              },
              "Reset_FlattenedUserAttrNames": {
                "runAfter": {
                  "SCIM_Get_Schemas": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "flattenedUserAttrNames",
                  "value": []
                }
              },
              "Reset_FlattenedGroupAttrNames": {
                "runAfter": {
                  "SCIM_Get_Schemas": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "flattenedGroupAttrNames",
                  "value": []
                }
              },
              "Flatten_User_Attrs_Loop": {
                "runAfter": {
                  "Compose_All_User_Schema_Attrs": [
                    "Succeeded"
                  ],
                  "Reset_FlattenedUserAttrNames": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach",
                "foreach": "@outputs('Compose_All_User_Schema_Attrs')",
                "actions": {
                  "Check_User_Attr_Category": {
                    "type": "If",
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@items('Flatten_User_Attrs_Loop')?['name']",
                            "manager"
                          ]
                        },
                        {
                          "equals": [
                            "@items('Flatten_User_Attrs_Loop')?['name']",
                            "members"
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Append_User_Reference_Attr": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "flattenedUserAttrNames",
                          "value": "@items('Flatten_User_Attrs_Loop')?['name']"
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Check_User_Is_Complex_MultiValued": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('Flatten_User_Attrs_Loop')?['type']",
                                  "complex"
                                ]
                              },
                              {
                                "equals": [
                                  "@coalesce(items('Flatten_User_Attrs_Loop')?['multiValued'], false)",
                                  true
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Get_User_Type_SubAttr": {
                              "type": "Query",
                              "inputs": {
                                "from": "@coalesce(items('Flatten_User_Attrs_Loop')?['subAttributes'], json('[]'))",
                                "where": "@equals(item()?['name'], 'type')"
                              }
                            },
                            "Get_User_Filterable_SubAttrs": {
                              "runAfter": {
                                "Get_User_Type_SubAttr": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@coalesce(items('Flatten_User_Attrs_Loop')?['subAttributes'], json('[]'))",
                                "where": "@and(not(equals(item()?['name'], 'type')), not(equals(item()?['name'], 'primary')))"
                              }
                            },
                            "Check_User_Has_CanonicalValues": {
                              "runAfter": {
                                "Get_User_Filterable_SubAttrs": [
                                  "Succeeded"
                                ]
                              },
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Get_User_Type_SubAttr'))",
                                      0
                                    ]
                                  },
                                  {
                                    "greater": [
                                      "@length(coalesce(first(body('Get_User_Type_SubAttr'))?['canonicalValues'], json('[]')))",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "ForEach_User_CanonicalValue": {
                                  "type": "Foreach",
                                  "foreach": "@coalesce(first(body('Get_User_Type_SubAttr'))?['canonicalValues'], json('[]'))",
                                  "actions": {
                                    "ForEach_User_CV_SubAttr": {
                                      "type": "Foreach",
                                      "foreach": "@body('Get_User_Filterable_SubAttrs')",
                                      "actions": {
                                        "Append_User_Bracket_Attr": {
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "flattenedUserAttrNames",
                                            "value": "@concat(items('Flatten_User_Attrs_Loop')?['name'], '[type eq \"', items('ForEach_User_CanonicalValue'), '\"].', items('ForEach_User_CV_SubAttr')?['name'])"
                                          }
                                        }
                                      },
                                      "runtimeConfiguration": {
                                        "concurrency": {
                                          "repetitions": 1
                                        }
                                      }
                                    }
                                  },
                                  "runtimeConfiguration": {
                                    "concurrency": {
                                      "repetitions": 1
                                    }
                                  }
                                }
                              },
                              "else": {
                                "actions": {
                                  "Get_User_NonPrimary_SubAttrs": {
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@coalesce(items('Flatten_User_Attrs_Loop')?['subAttributes'], json('[]'))",
                                      "where": "@not(equals(item()?['name'], 'primary'))"
                                    }
                                  },
                                  "ForEach_User_Primary_SubAttr": {
                                    "runAfter": {
                                      "Get_User_NonPrimary_SubAttrs": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach",
                                    "foreach": "@body('Get_User_NonPrimary_SubAttrs')",
                                    "actions": {
                                      "Append_User_Primary_Bracket_Attr": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "flattenedUserAttrNames",
                                          "value": "@concat(items('Flatten_User_Attrs_Loop')?['name'], '[primary eq \"True\"].', items('ForEach_User_Primary_SubAttr')?['name'])"
                                        }
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "concurrency": {
                                        "repetitions": 1
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Check_User_Is_Complex_SingleValued": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@items('Flatten_User_Attrs_Loop')?['type']",
                                        "complex"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "Get_User_Simple_SubAttrs": {
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@coalesce(items('Flatten_User_Attrs_Loop')?['subAttributes'], json('[]'))",
                                      "where": "@and(not(equals(item()?['type'], 'complex')), not(equals(item()?['type'], 'reference')))"
                                    }
                                  },
                                  "ForEach_User_Dot_SubAttr": {
                                    "runAfter": {
                                      "Get_User_Simple_SubAttrs": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach",
                                    "foreach": "@body('Get_User_Simple_SubAttrs')",
                                    "actions": {
                                      "Append_User_Dot_Attr": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "flattenedUserAttrNames",
                                          "value": "@concat(items('Flatten_User_Attrs_Loop')?['name'], '.', items('ForEach_User_Dot_SubAttr')?['name'])"
                                        }
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "concurrency": {
                                        "repetitions": 1
                                      }
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {
                                    "Check_User_Not_Reference": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "not": {
                                              "equals": [
                                                "@items('Flatten_User_Attrs_Loop')?['type']",
                                                "reference"
                                              ]
                                            }
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Append_User_Simple_Attr": {
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "flattenedUserAttrNames",
                                            "value": "@items('Flatten_User_Attrs_Loop')?['name']"
                                          }
                                        }
                                      },
                                      "else": {
                                        "actions": {}
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "runtimeConfiguration": {
                  "concurrency": {
                    "repetitions": 1
                  }
                }
              },
              "Flatten_Group_Attrs_Loop": {
                "runAfter": {
                  "Compose_All_Group_Schema_Attrs": [
                    "Succeeded"
                  ],
                  "Reset_FlattenedGroupAttrNames": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach",
                "foreach": "@outputs('Compose_All_Group_Schema_Attrs')",
                "actions": {
                  "Check_Group_Attr_Category": {
                    "type": "If",
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@items('Flatten_Group_Attrs_Loop')?['name']",
                            "manager"
                          ]
                        },
                        {
                          "equals": [
                            "@items('Flatten_Group_Attrs_Loop')?['name']",
                            "members"
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Append_Group_Reference_Attr": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "flattenedGroupAttrNames",
                          "value": "@items('Flatten_Group_Attrs_Loop')?['name']"
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Check_Group_Is_Complex_MultiValued": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('Flatten_Group_Attrs_Loop')?['type']",
                                  "complex"
                                ]
                              },
                              {
                                "equals": [
                                  "@coalesce(items('Flatten_Group_Attrs_Loop')?['multiValued'], false)",
                                  true
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Get_Group_Type_SubAttr": {
                              "type": "Query",
                              "inputs": {
                                "from": "@coalesce(items('Flatten_Group_Attrs_Loop')?['subAttributes'], json('[]'))",
                                "where": "@equals(item()?['name'], 'type')"
                              }
                            },
                            "Get_Group_Filterable_SubAttrs": {
                              "runAfter": {
                                "Get_Group_Type_SubAttr": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@coalesce(items('Flatten_Group_Attrs_Loop')?['subAttributes'], json('[]'))",
                                "where": "@and(not(equals(item()?['name'], 'type')), not(equals(item()?['name'], 'primary')))"
                              }
                            },
                            "Check_Group_Has_CanonicalValues": {
                              "runAfter": {
                                "Get_Group_Filterable_SubAttrs": [
                                  "Succeeded"
                                ]
                              },
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Get_Group_Type_SubAttr'))",
                                      0
                                    ]
                                  },
                                  {
                                    "greater": [
                                      "@length(coalesce(first(body('Get_Group_Type_SubAttr'))?['canonicalValues'], json('[]')))",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "ForEach_Group_CanonicalValue": {
                                  "type": "Foreach",
                                  "foreach": "@coalesce(first(body('Get_Group_Type_SubAttr'))?['canonicalValues'], json('[]'))",
                                  "actions": {
                                    "ForEach_Group_CV_SubAttr": {
                                      "type": "Foreach",
                                      "foreach": "@body('Get_Group_Filterable_SubAttrs')",
                                      "actions": {
                                        "Append_Group_Bracket_Attr": {
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "flattenedGroupAttrNames",
                                            "value": "@concat(items('Flatten_Group_Attrs_Loop')?['name'], '[type eq \"', items('ForEach_Group_CanonicalValue'), '\"].', items('ForEach_Group_CV_SubAttr')?['name'])"
                                          }
                                        }
                                      },
                                      "runtimeConfiguration": {
                                        "concurrency": {
                                          "repetitions": 1
                                        }
                                      }
                                    }
                                  },
                                  "runtimeConfiguration": {
                                    "concurrency": {
                                      "repetitions": 1
                                    }
                                  }
                                }
                              },
                              "else": {
                                "actions": {
                                  "Get_Group_NonPrimary_SubAttrs": {
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@coalesce(items('Flatten_Group_Attrs_Loop')?['subAttributes'], json('[]'))",
                                      "where": "@not(equals(item()?['name'], 'primary'))"
                                    }
                                  },
                                  "ForEach_Group_Primary_SubAttr": {
                                    "runAfter": {
                                      "Get_Group_NonPrimary_SubAttrs": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach",
                                    "foreach": "@body('Get_Group_NonPrimary_SubAttrs')",
                                    "actions": {
                                      "Append_Group_Primary_Bracket_Attr": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "flattenedGroupAttrNames",
                                          "value": "@concat(items('Flatten_Group_Attrs_Loop')?['name'], '[primary eq \"True\"].', items('ForEach_Group_Primary_SubAttr')?['name'])"
                                        }
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "concurrency": {
                                        "repetitions": 1
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Check_Group_Is_Complex_SingleValued": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@items('Flatten_Group_Attrs_Loop')?['type']",
                                        "complex"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "Get_Group_Simple_SubAttrs": {
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@coalesce(items('Flatten_Group_Attrs_Loop')?['subAttributes'], json('[]'))",
                                      "where": "@and(not(equals(item()?['type'], 'complex')), not(equals(item()?['type'], 'reference')))"
                                    }
                                  },
                                  "ForEach_Group_Dot_SubAttr": {
                                    "runAfter": {
                                      "Get_Group_Simple_SubAttrs": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach",
                                    "foreach": "@body('Get_Group_Simple_SubAttrs')",
                                    "actions": {
                                      "Append_Group_Dot_Attr": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "flattenedGroupAttrNames",
                                          "value": "@concat(items('Flatten_Group_Attrs_Loop')?['name'], '.', items('ForEach_Group_Dot_SubAttr')?['name'])"
                                        }
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "concurrency": {
                                        "repetitions": 1
                                      }
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {
                                    "Check_Group_Not_Reference": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "not": {
                                              "equals": [
                                                "@items('Flatten_Group_Attrs_Loop')?['type']",
                                                "reference"
                                              ]
                                            }
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Append_Group_Simple_Attr": {
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "flattenedGroupAttrNames",
                                            "value": "@items('Flatten_Group_Attrs_Loop')?['name']"
                                          }
                                        }
                                      },
                                      "else": {
                                        "actions": {}
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "runtimeConfiguration": {
                  "concurrency": {
                    "repetitions": 1
                  }
                }
              },
              "Compose_User_Lookup_String": {
                "runAfter": {
                  "Flatten_Enterprise_User_Attrs_Loop": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@toLower(concat('|', join(variables('flattenedUserAttrNames'), '|'), '|'))"
              },
              "Compose_Group_Lookup_String": {
                "runAfter": {
                  "Flatten_Group_Attrs_Loop": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@toLower(concat('|', join(variables('flattenedGroupAttrNames'), '|'), '|'))"
              },
              "Filter_Missing_User_Attrs": {
                "runAfter": {
                  "Compose_User_Lookup_String": [
                    "Succeeded"
                  ]
                },
                "type": "Query",
                "inputs": {
                  "from": "@coalesce(triggerBody()?['initializationData']?['targetDirectoryUserAttributes'], json('[]'))",
                  "where": "@and(not(equals(item()?['name'], 'id')), not(contains(outputs('Compose_User_Lookup_String'), toLower(concat('|', coalesce(item()?['name'], ''), '|')))))"
                }
              },
              "Select_Missing_User_Attr_Names": {
                "runAfter": {
                  "Filter_Missing_User_Attrs": [
                    "Succeeded"
                  ]
                },
                "type": "Select",
                "inputs": {
                  "from": "@body('Filter_Missing_User_Attrs')",
                  "select": "@item()?['name']"
                }
              },
              "Filter_Missing_Group_Attrs": {
                "runAfter": {
                  "Compose_Group_Lookup_String": [
                    "Succeeded"
                  ]
                },
                "type": "Query",
                "inputs": {
                  "from": "@coalesce(triggerBody()?['initializationData']?['targetDirectoryGroupAttributes'], json('[]'))",
                  "where": "@and(not(equals(item()?['name'], 'id')), not(contains(outputs('Compose_Group_Lookup_String'), toLower(concat('|', coalesce(item()?['name'], ''), '|')))))"
                }
              },
              "Select_Missing_Group_Attr_Names": {
                "runAfter": {
                  "Filter_Missing_Group_Attrs": [
                    "Succeeded"
                  ]
                },
                "type": "Select",
                "inputs": {
                  "from": "@body('Filter_Missing_Group_Attrs')",
                  "select": "@item()?['name']"
                }
              },
              "Compose_Schema_Discoverability_Summary": {
                "runAfter": {
                  "Select_Missing_User_Attr_Names": [
                    "Succeeded"
                  ],
                  "Select_Missing_Group_Attr_Names": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "testName": "SchemaDiscoveryTest",
                  "timestamp": "@utcNow()",
                  "schemasEndpointStatusCode": "@outputs('SCIM_Get_Schemas')['statusCode']",
                  "discoveredSchemasCount": "@length(coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]')))",
                  "userSchemaFound": "@greater(length(body('Filter_User_Schema')), 0)",
                  "enterpriseUserSchemaFound": "@greater(length(body('Filter_EnterpriseUser_Schema')), 0)",
                  "groupSchemaFound": "@greater(length(body('Filter_Group_Schema')), 0)",
                  "flattenedUserSchemaAttrs": "@variables('flattenedUserAttrNames')",
                  "flattenedGroupSchemaAttrs": "@variables('flattenedGroupAttrNames')",
                  "targetDirectoryUserAttrCount": "@length(coalesce(triggerBody()?['initializationData']?['targetDirectoryUserAttributes'], json('[]')))",
                  "flattenedUserSchemaAttrCount": "@length(variables('flattenedUserAttrNames'))",
                  "missingUserAttrCount": "@length(body('Filter_Missing_User_Attrs'))",
                  "missingUserAttrs": "@body('Select_Missing_User_Attr_Names')",
                  "targetDirectoryGroupAttrCount": "@length(coalesce(triggerBody()?['initializationData']?['targetDirectoryGroupAttributes'], json('[]')))",
                  "flattenedGroupSchemaAttrCount": "@length(variables('flattenedGroupAttrNames'))",
                  "missingGroupAttrCount": "@length(body('Filter_Missing_Group_Attrs'))",
                  "missingGroupAttrs": "@body('Select_Missing_Group_Attr_Names')",
                  "overallResult": "@if(and(equals(outputs('SCIM_Get_Schemas')['statusCode'], 200), greater(length(coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]'))), 0), equals(length(body('Filter_Missing_User_Attrs')), 0), equals(length(body('Filter_Missing_Group_Attrs')), 0)), 'PASSED', 'FAILED')"
                }
              },
              "Set_SchemaDiscoverabilityTestOutputs": {
                "runAfter": {
                  "Compose_Schema_Discoverability_Summary": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "SchemaDiscoverabilityTestOutputs",
                  "value": {
                    "overallResult": "@coalesce(outputs('Compose_Schema_Discoverability_Summary')?['overallResult'], 'FAILED')",
                    "result": "@if(equals(coalesce(outputs('Compose_Schema_Discoverability_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', if(not(equals(outputs('SCIM_Get_Schemas')['statusCode'], 200)), concat('FAILED - Action: SCIM_Get_Schemas - HTTP ', string(outputs('SCIM_Get_Schemas')['statusCode'])), if(equals(length(coalesce(body('SCIM_Get_Schemas')?['Resources'], json('[]'))), 0), 'FAILED - Action: SCIM_Get_Schemas - endpoint returned no schemas', concat('FAILED - Action: Compose_Schema_Discoverability_Summary - Missing user attrs: ', string(body('Select_Missing_User_Attr_Names')), ' | Missing group attrs: ', string(body('Select_Missing_Group_Attr_Names'))))))",
                    "summary": "@outputs('Compose_Schema_Discoverability_Summary')",
                    "detailedResults": [],
                    "errorDetails": {
                      "summary": "@if(equals(coalesce(outputs('Compose_Schema_Discoverability_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, concat(if(greater(length(body('Filter_Missing_User_Attrs')), 0), concat('Missing user attributes (', string(length(body('Filter_Missing_User_Attrs'))), '): ', string(body('Select_Missing_User_Attr_Names')), '. '), ''), if(greater(length(body('Filter_Missing_Group_Attrs')), 0), concat('Missing group attributes (', string(length(body('Filter_Missing_Group_Attrs'))), '): ', string(body('Select_Missing_Group_Attr_Names')), '.'), '')))"
                    }
                  }
                }
              },
              "Flatten_Enterprise_User_Attrs_Loop": {
                "runAfter": {
                  "Filter_EnterpriseUser_Schema": [
                    "Succeeded"
                  ],
                  "Flatten_User_Attrs_Loop": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach",
                "foreach": "@coalesce(first(body('Filter_EnterpriseUser_Schema'))?['attributes'], json('[]'))",
                "actions": {
                  "Check_Enterprise_Attr_Type": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@items('Flatten_Enterprise_User_Attrs_Loop')?['type']",
                              "complex"
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "Append_Enterprise_Simple_Attr": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "flattenedUserAttrNames",
                          "value": "@concat(first(body('Filter_EnterpriseUser_Schema'))?['id'], ':', items('Flatten_Enterprise_User_Attrs_Loop')?['name'])"
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Append_Enterprise_Complex_Attr": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "flattenedUserAttrNames",
                            "value": "@concat(first(body('Filter_EnterpriseUser_Schema'))?['id'], ':', items('Flatten_Enterprise_User_Attrs_Loop')?['name'])"
                          }
                        }
                      }
                    }
                  }
                },
                "runtimeConfiguration": {
                  "concurrency": {
                    "repetitions": 1
                  }
                }
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "Schema_Discoverability_Test"
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_Null_Update_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_Null_Update_Test_Actions": {
                "actions": {
                  "Generate_SCIM_Null_Test_UserName": {
                    "type": "Compose",
                    "inputs": "@concat('scnull', substring(guid(), 0, 8))"
                  },
                  "Set_SCIM_Null_Create_Base_Body": {
                    "runAfter": {
                      "Generate_SCIM_Null_Test_UserName": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimNullCreateBody",
                      "value": {
                        "schemas": [
                          "urn:ietf:params:scim:schemas:core:2.0:User",
                          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                        ],
                        "userName": "@{concat(outputs('Generate_SCIM_Null_Test_UserName'), '@', coalesce(last(split(coalesce(triggerBody()?['initializationData']?['userBody']?['userPrincipalName'], 'x@test.com'), '@')), 'test.com'))}",
                        "active": true,
                        "externalId": "@outputs('Generate_SCIM_Null_Test_UserName')"
                      }
                    }
                  },
                  "ForEach_Build_Null_Create_Body": {
                    "foreach": "@coalesce(triggerBody()?['initializationData']?['sourceToTargetLookup'], json('[]'))",
                    "actions": {
                      "Compose_Null_Create_Source_Value": {
                        "type": "Compose",
                        "inputs": "@coalesce(if(contains(items('ForEach_Build_Null_Create_Body')?['source'], '.'), triggerBody()?['initializationData']?['userBody']?[first(split(items('ForEach_Build_Null_Create_Body')?['source'], '.'))][last(split(items('ForEach_Build_Null_Create_Body')?['source'], '.'))], if(startsWith(string(coalesce(triggerBody()?['initializationData']?['userBody']?[items('ForEach_Build_Null_Create_Body')?['source']], '')), '['), first(coalesce(triggerBody()?['initializationData']?['userBody']?[items('ForEach_Build_Null_Create_Body')?['source']], createArray(concat('Test', substring(guid(), 0, 6))))), triggerBody()?['initializationData']?['userBody']?[items('ForEach_Build_Null_Create_Body')?['source']])), concat('Test', substring(guid(), 0, 6)))"
                      },
                      "Compose_Null_Create_New_Body": {
                        "runAfter": {
                          "Compose_Null_Create_Source_Value": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose",
                        "inputs": "@if(or(or(equals(items('ForEach_Build_Null_Create_Body')?['source'], 'manager'), equals(items('ForEach_Build_Null_Create_Body')?['target'], 'userName')), or(equals(items('ForEach_Build_Null_Create_Body')?['target'], 'active'), equals(items('ForEach_Build_Null_Create_Body')?['target'], 'externalId')), equals(items('ForEach_Build_Null_Create_Body')?['target'], 'roles')), variables('scimNullCreateBody'), if(startsWith(items('ForEach_Build_Null_Create_Body')?['target'], 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:'), union(variables('scimNullCreateBody'), json(concat('{\"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User\":', string(setProperty(coalesce(variables('scimNullCreateBody')?['urn:ietf:params:scim:schemas:extension:enterprise:2.0:User'], json('{}')), last(split(items('ForEach_Build_Null_Create_Body')?['target'], ':')), outputs('Compose_Null_Create_Source_Value'))), '}'))), if(contains(items('ForEach_Build_Null_Create_Body')?['target'], '['), setProperty(variables('scimNullCreateBody'), first(split(items('ForEach_Build_Null_Create_Body')?['target'], '[')), setProperty(coalesce(variables('scimNullCreateBody')?[first(split(items('ForEach_Build_Null_Create_Body')?['target'], '['))], json('{}')), first(skip(split(items('ForEach_Build_Null_Create_Body')?['target'], '\"'), 1)), setProperty(coalesce(variables('scimNullCreateBody')?[first(split(items('ForEach_Build_Null_Create_Body')?['target'], '['))]?[first(skip(split(items('ForEach_Build_Null_Create_Body')?['target'], '\"'), 1))], json(concat('{\"type\":\"', first(skip(split(items('ForEach_Build_Null_Create_Body')?['target'], '\"'), 1)), '\",\"primary\":', if(not(contains(string(coalesce(variables('scimNullCreateBody')?[first(split(items('ForEach_Build_Null_Create_Body')?['target'], '['))], json('{}'))), '\"primary\":true')), 'true', 'false'), '}'))), last(split(items('ForEach_Build_Null_Create_Body')?['target'], '.')), outputs('Compose_Null_Create_Source_Value')))), if(contains(items('ForEach_Build_Null_Create_Body')?['target'], '.'), setProperty(variables('scimNullCreateBody'), first(split(items('ForEach_Build_Null_Create_Body')?['target'], '.')), setProperty(coalesce(variables('scimNullCreateBody')?[first(split(items('ForEach_Build_Null_Create_Body')?['target'], '.'))], json('{}')), last(split(items('ForEach_Build_Null_Create_Body')?['target'], '.')), outputs('Compose_Null_Create_Source_Value'))), setProperty(variables('scimNullCreateBody'), items('ForEach_Build_Null_Create_Body')?['target'], outputs('Compose_Null_Create_Source_Value'))))))"
                      },
                      "Set_scimNullCreateBody": {
                        "runAfter": {
                          "Compose_Null_Create_New_Body": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "scimNullCreateBody",
                          "value": "@outputs('Compose_Null_Create_New_Body')"
                        }
                      }
                    },
                    "runAfter": {
                      "Set_SCIM_Null_Create_Base_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 1
                      }
                    }
                  },
                  "SCIM_Create_Null_Test_User": {
                    "runAfter": {
                      "ForEach_Convert_To_Arrays": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users')}",
                      "method": "POST",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@variables('scimNullCreateBody')"
                    }
                  },
                  "Compose_SCIM_Null_User_Id": {
                    "runAfter": {
                      "SCIM_Create_Null_Test_User": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@coalesce(body('SCIM_Create_Null_Test_User')?['id'], '')"
                  },
                  "SCIM_Get_User_Before_Null_Update": {
                    "runAfter": {
                      "Compose_SCIM_Null_User_Id": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "SCIM_Get_Schemas_For_Null_Test": {
                    "runAfter": {
                      "Compose_SCIM_Null_User_Id": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Schemas')}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "Filter_Null_Core_User_Schema": {
                    "runAfter": {
                      "SCIM_Get_Schemas_For_Null_Test": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(body('SCIM_Get_Schemas_For_Null_Test')?['Resources'], json('[]'))",
                      "where": "@equals(item()?['id'], 'urn:ietf:params:scim:schemas:core:2.0:User')"
                    }
                  },
                  "Filter_Null_Enterprise_User_Schema": {
                    "runAfter": {
                      "SCIM_Get_Schemas_For_Null_Test": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(body('SCIM_Get_Schemas_For_Null_Test')?['Resources'], json('[]'))",
                      "where": "@equals(item()?['id'], 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User')"
                    }
                  },
                  "Query_Required_Core_Attrs": {
                    "runAfter": {
                      "Filter_Null_Core_User_Schema": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(first(body('Filter_Null_Core_User_Schema'))?['attributes'], json('[]'))",
                      "where": "@equals(item()?['required'], true)"
                    }
                  },
                  "Query_Required_Enterprise_Attrs": {
                    "runAfter": {
                      "Filter_Null_Enterprise_User_Schema": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(first(body('Filter_Null_Enterprise_User_Schema'))?['attributes'], json('[]'))",
                      "where": "@equals(item()?['required'], true)"
                    }
                  },
                  "Filter_Null_Update_Target_Attributes": {
                    "runAfter": {
                      "SCIM_Get_User_Before_Null_Update": [
                        "Succeeded"
                      ],
                      "Query_Required_Core_Attrs": [
                        "Succeeded"
                      ],
                      "Query_Required_Enterprise_Attrs": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(triggerBody()?['initializationData']?['sourceToTargetLookup'], json('[]'))",
                      "where": "@and(equals(coalesce(item()?['matchingPrecedence'], 0), 0), not(equals(coalesce(item()?['source'], ''), 'manager')), not(equals(coalesce(item()?['target'], ''), 'userName')), not(equals(coalesce(item()?['target'], ''), 'active')), not(equals(coalesce(item()?['target'], ''), 'externalId')), not(equals(coalesce(item()?['target'], ''), 'roles')), if(startsWith(coalesce(item()?['target'], ''), 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:'), not(contains(string(body('Query_Required_Enterprise_Attrs')), concat('\"name\":\"', last(split(item()?['target'], ':')), '\"'))), not(contains(string(body('Query_Required_Core_Attrs')), concat('\"name\":\"', if(contains(coalesce(item()?['target'], ''), '['), first(split(item()?['target'], '[')), if(contains(coalesce(item()?['target'], ''), '.'), first(split(item()?['target'], '.')), coalesce(item()?['target'], ''))), '\"')))))"
                    }
                  },
                  "ForEach_Build_Null_Patch_Operations": {
                    "foreach": "@body('Filter_Null_Update_Target_Attributes')",
                    "actions": {
                      "Append_Null_Patch_Operation": {
                        "runAfter": {
                          "Compose_Null_Patch_Op": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "scimNullPatchOperations",
                          "value": "@outputs('Compose_Null_Patch_Op')"
                        }
                      },
                      "Compose_Null_Patch_Op": {
                        "type": "Compose",
                        "inputs": {
                          "op": "replace",
                          "path": "@{items('ForEach_Build_Null_Patch_Operations')?['target']}",
                          "value": ""
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_Null_Update_Target_Attributes": [
                        "Succeeded"
                      ]
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 1
                      }
                    }
                  },
                  "Compose_SCIM_Null_Patch_Body": {
                    "runAfter": {
                      "ForEach_Build_Null_Patch_Operations": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                      ],
                      "Operations": "@variables('scimNullPatchOperations')"
                    }
                  },
                  "SCIM_Patch_Null_Update": {
                    "runAfter": {
                      "Compose_SCIM_Null_Patch_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "PATCH",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_SCIM_Null_Patch_Body')"
                    }
                  },
                  "SCIM_Get_User_After_Null_Update": {
                    "runAfter": {
                      "SCIM_Patch_Null_Update": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "ForEach_Verify_Null_Attributes": {
                    "foreach": "@body('Filter_Null_Update_Target_Attributes')",
                    "actions": {
                      "NullVerify_Filter_Array_By_Type": {
                        "type": "Query",
                        "inputs": {
                          "from": "@if(contains(items('ForEach_Verify_Null_Attributes')?['target'], '[type eq'), coalesce(body('SCIM_Get_User_After_Null_Update')?[first(split(items('ForEach_Verify_Null_Attributes')?['target'], '['))], json('[]')), json('[]'))",
                          "where": "@equals(toLower(item()?['type']), toLower(replace(replace(first(split(last(split(items('ForEach_Verify_Null_Attributes')?['target'], 'type eq ')), ']')), '\"', ''), '''', '')))"
                        }
                      },
                      "Compose_NullVerify_ActualValue": {
                        "runAfter": {
                          "NullVerify_Filter_Array_By_Type": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Compose",
                        "inputs": "@if(contains(items('ForEach_Verify_Null_Attributes')?['target'], '[type eq'), if(contains(items('ForEach_Verify_Null_Attributes')?['target'], '].'), coalesce(first(body('NullVerify_Filter_Array_By_Type'))?[last(split(items('ForEach_Verify_Null_Attributes')?['target'], '.'))], ''), coalesce(first(body('NullVerify_Filter_Array_By_Type'))?['value'], '')), if(and(contains(items('ForEach_Verify_Null_Attributes')?['target'], '.'), not(contains(items('ForEach_Verify_Null_Attributes')?['target'], ':'))), coalesce(body('SCIM_Get_User_After_Null_Update')?[first(split(items('ForEach_Verify_Null_Attributes')?['target'], '.'))]?[last(split(items('ForEach_Verify_Null_Attributes')?['target'], '.'))], ''), if(contains(items('ForEach_Verify_Null_Attributes')?['target'], 'urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:'), coalesce(body('SCIM_Get_User_After_Null_Update')?['urn:ietf:params:scim:schemas:extension:enterprise:2.0:User']?[last(split(items('ForEach_Verify_Null_Attributes')?['target'], ':'))], ''), coalesce(body('SCIM_Get_User_After_Null_Update')?[items('ForEach_Verify_Null_Attributes')?['target']], ''))))"
                      },
                      "Compose_NullVerify_IsNullOrEmpty": {
                        "runAfter": {
                          "Compose_NullVerify_ActualValue": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose",
                        "inputs": "@or(equals(outputs('Compose_NullVerify_ActualValue'), ''), equals(outputs('Compose_NullVerify_ActualValue'), null))"
                      },
                      "Append_Null_Verification_Result": {
                        "runAfter": {
                          "Compose_NullVerify_IsNullOrEmpty": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "scimNullUpdateResults",
                          "value": {
                            "sourceAttribute": "@items('ForEach_Verify_Null_Attributes')?['source']",
                            "targetAttribute": "@items('ForEach_Verify_Null_Attributes')?['target']",
                            "actualValueAfterNull": "@outputs('Compose_NullVerify_ActualValue')",
                            "isNullOrEmpty": "@outputs('Compose_NullVerify_IsNullOrEmpty')",
                            "passed": "@outputs('Compose_NullVerify_IsNullOrEmpty')"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "SCIM_Get_User_After_Null_Update": [
                        "Succeeded"
                      ]
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 1
                      }
                    }
                  },
                  "Compose_Null_Patch_Body_Phase2": {
                    "runAfter": {
                      "ForEach_Verify_Null_Attributes": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                      ],
                      "Operations": "@body('Filter_Null_Update_Target_Attributes')"
                    }
                  },
                  "Select_Null_Patch_Ops_Phase2": {
                    "runAfter": {
                      "Compose_Null_Patch_Body_Phase2": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Null_Update_Target_Attributes')",
                      "select": {
                        "op": "replace",
                        "path": "@{item()?['target']}",
                        "value": null
                      }
                    }
                  },
                  "Compose_Null_Patch_Request_Phase2": {
                    "runAfter": {
                      "Select_Null_Patch_Ops_Phase2": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                      ],
                      "Operations": "@body('Select_Null_Patch_Ops_Phase2')"
                    }
                  },
                  "SCIM_Patch_Null_Update_Phase2": {
                    "runAfter": {
                      "Compose_Null_Patch_Request_Phase2": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "PATCH",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_Null_Patch_Request_Phase2')"
                    }
                  },
                  "SCIM_Get_User_After_Null_Phase2": {
                    "runAfter": {
                      "SCIM_Patch_Null_Update_Phase2": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "Select_Null_Phase2_Verify": {
                    "runAfter": {
                      "SCIM_Get_User_After_Null_Phase2": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Null_Update_Target_Attributes')",
                      "select": {
                        "target": "@{item()?['target']}",
                        "actualValue": "@if(contains(item()?['target'], '['), null, if(and(contains(item()?['target'], '.'), not(contains(item()?['target'], ':'))), body('SCIM_Get_User_After_Null_Phase2')?[first(split(item()?['target'], '.'))]?[last(split(item()?['target'], '.'))], if(startsWith(item()?['target'], 'urn:'), body('SCIM_Get_User_After_Null_Phase2')?[join(take(split(item()?['target'], ':'), sub(length(split(item()?['target'], ':')), 1)), ':')]?[last(split(item()?['target'], ':'))], body('SCIM_Get_User_After_Null_Phase2')?[item()?['target']])))",
                        "isNull": "@if(contains(item()?['target'], '['), true, equals(if(and(contains(item()?['target'], '.'), not(contains(item()?['target'], ':'))), body('SCIM_Get_User_After_Null_Phase2')?[first(split(item()?['target'], '.'))]?[last(split(item()?['target'], '.'))], if(startsWith(item()?['target'], 'urn:'), body('SCIM_Get_User_After_Null_Phase2')?[join(take(split(item()?['target'], ':'), sub(length(split(item()?['target'], ':')), 1)), ':')]?[last(split(item()?['target'], ':'))], body('SCIM_Get_User_After_Null_Phase2')?[item()?['target']])), null))"
                      }
                    }
                  },
                  "Filter_Failed_Null_Phase2_Verifications": {
                    "runAfter": {
                      "Select_Null_Phase2_Verify": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@body('Select_Null_Phase2_Verify')",
                      "where": "@not(equals(item()?['isNull'], true))"
                    }
                  },
                  "Filter_Failed_Null_Verifications": {
                    "runAfter": {
                      "Filter_Failed_Null_Phase2_Verifications": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('scimNullUpdateResults')",
                      "where": "@not(equals(item()?['passed'], true))"
                    }
                  },
                  "Filter_Passed_Null_Verifications": {
                    "runAfter": {
                      "Filter_Failed_Null_Phase2_Verifications": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('scimNullUpdateResults')",
                      "where": "@equals(item()?['passed'], true)"
                    }
                  },
                  "Compose_SCIM_Null_Update_Summary": {
                    "runAfter": {
                      "Filter_Failed_Null_Verifications": [
                        "Succeeded"
                      ],
                      "Filter_Passed_Null_Verifications": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_Null_Update_Test",
                      "timestamp": "@utcNow()",
                      "phase1_emptyString_patchStatusCode": "@outputs('SCIM_Patch_Null_Update')['statusCode']",
                      "phase1_emptyString_failedVerifications": "@length(body('Filter_Failed_Null_Verifications'))",
                      "phase2_null_patchStatusCode": "@outputs('SCIM_Patch_Null_Update_Phase2')['statusCode']",
                      "phase2_null_failedVerifications": "@length(body('Filter_Failed_Null_Phase2_Verifications'))",
                      "phase2_null_verificationDetails": "@body('Filter_Failed_Null_Phase2_Verifications')",
                      "totalAttributesVerified": "@length(variables('scimNullUpdateResults'))",
                      "passedCount": "@length(body('Filter_Passed_Null_Verifications'))",
                      "failedCount": "@length(body('Filter_Failed_Null_Verifications'))",
                      "overallResult": "@if(and(not(empty(outputs('Compose_SCIM_Null_User_Id'))), or(equals(outputs('SCIM_Patch_Null_Update')['statusCode'], 200), equals(outputs('SCIM_Patch_Null_Update')['statusCode'], 204)), equals(length(body('Filter_Failed_Null_Verifications')), 0), or(equals(outputs('SCIM_Patch_Null_Update_Phase2')['statusCode'], 200), equals(outputs('SCIM_Patch_Null_Update_Phase2')['statusCode'], 204)), equals(length(body('Filter_Failed_Null_Phase2_Verifications')), 0)), 'PASSED', 'FAILED')"
                    }
                  },
                  "SCIM_Delete_Null_Test_User": {
                    "runAfter": {
                      "Compose_SCIM_Null_Update_Summary": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users/', outputs('Compose_SCIM_Null_User_Id'))}",
                      "method": "DELETE",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "Filter_MultiValue_Targets": {
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(triggerBody()?['initializationData']?['sourceToTargetLookup'], json('[]'))",
                      "where": "@contains(item()?['target'], '[')"
                    },
                    "runAfter": {
                      "ForEach_Build_Null_Create_Body": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Select_MultiValue_Parents": {
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_MultiValue_Targets')",
                      "select": "@first(split(item()?['target'], '['))"
                    },
                    "runAfter": {
                      "Filter_MultiValue_Targets": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Compose_Unique_Parents": {
                    "type": "Compose",
                    "inputs": "@union(body('Select_MultiValue_Parents'), json('[]'))",
                    "runAfter": {
                      "Select_MultiValue_Parents": [
                        "Succeeded"
                      ]
                    }
                  },
                  "ForEach_Convert_To_Arrays": {
                    "type": "Foreach",
                    "foreach": "@outputs('Compose_Unique_Parents')",
                    "actions": {
                      "Filter_Types_For_Parent": {
                        "type": "Query",
                        "inputs": {
                          "from": "@body('Filter_MultiValue_Targets')",
                          "where": "@equals(first(split(item()?['target'], '[')), items('ForEach_Convert_To_Arrays'))"
                        },
                        "runAfter": {}
                      },
                      "Select_Type_Values": {
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Filter_Types_For_Parent')",
                          "select": "@first(skip(split(item()?['target'], '\"'), 1))"
                        },
                        "runAfter": {
                          "Filter_Types_For_Parent": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Compose_Unique_Types": {
                        "type": "Compose",
                        "inputs": "@union(body('Select_Type_Values'), json('[]'))",
                        "runAfter": {
                          "Select_Type_Values": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Select_Build_Array": {
                        "type": "Select",
                        "inputs": {
                          "from": "@outputs('Compose_Unique_Types')",
                          "select": "@coalesce(variables('scimNullCreateBody')?[items('ForEach_Convert_To_Arrays')]?[item()], json('{}'))"
                        },
                        "runAfter": {
                          "Compose_Unique_Types": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Set_Body_Array_Property": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "scimNullCreateBody",
                          "value": "@outputs('Compose_Updated_Body')"
                        },
                        "runAfter": {
                          "Compose_Updated_Body": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Compose_Updated_Body": {
                        "type": "Compose",
                        "inputs": "@setProperty(variables('scimNullCreateBody'), items('ForEach_Convert_To_Arrays'), body('Select_Build_Array'))",
                        "runAfter": {
                          "Select_Build_Array": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Compose_Unique_Parents": [
                        "Succeeded"
                      ]
                    },
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 1
                      }
                    }
                  }
                },
                "type": "Scope"
              },
              "Capture_SCIM_Null_Update_Failed_Action_Details": {
                "actions": {
                  "Get_Failed_SCIM_Null_Update_Actions": {
                    "type": "Compose",
                    "inputs": "@result('SCIM_Null_Update_Test_Actions')"
                  },
                  "Filter_Failed_SCIM_Null_Update_Actions": {
                    "runAfter": {
                      "Get_Failed_SCIM_Null_Update_Actions": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('Get_Failed_SCIM_Null_Update_Actions')",
                      "where": "@equals(item()?['status'], 'Failed')"
                    }
                  },
                  "Set_SCIM_Null_Update_Failed_Action_Name": {
                    "runAfter": {
                      "Filter_Failed_SCIM_Null_Update_Actions": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMNullUpdateFailedActionName",
                      "value": "@{if(greater(length(body('Filter_Failed_SCIM_Null_Update_Actions')), 0), first(body('Filter_Failed_SCIM_Null_Update_Actions'))?['name'], 'Unknown_Action')}"
                    }
                  },
                  "Set_SCIM_Null_Update_Status_Failed": {
                    "runAfter": {
                      "Set_SCIM_Null_Update_Failed_Action_Name": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMNullUpdateScopeExecutionStatus",
                      "value": "Failed"
                    }
                  }
                },
                "runAfter": {
                  "SCIM_Null_Update_Test_Actions": [
                    "Failed"
                  ]
                },
                "type": "Scope"
              },
              "Set_SCIM_Null_Update_Status_Success": {
                "runAfter": {
                  "SCIM_Null_Update_Test_Actions": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "SCIMNullUpdateScopeExecutionStatus",
                  "value": "Succeeded"
                }
              },
              "Set_SCIMNullUpdate_Output_Variables": {
                "actions": {
                  "Set_SCIMNullUpdateTestOutputs": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMNullUpdateTestOutputs",
                      "value": {
                        "overallResult": "@if(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded'), coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['overallResult'], 'FAILED'), 'FAILED')",
                        "result": "@if(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded'), if(equals(coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', concat('FAILED - Action: Compose_SCIM_Null_Update_Summary - null update verification failed. Passed: ', string(coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['passedCount'], 0)), '/', string(coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['totalAttributesVerified'], 0)), ' attributes')), concat('FAILED - Action: ', variables('SCIMNullUpdateFailedActionName')))",
                        "summary": "@if(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded'), outputs('Compose_SCIM_Null_Update_Summary'), null)",
                        "failedAttributes": "@if(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded'), body('Filter_Failed_Null_Verifications'), json('[]'))",
                        "errorDetails": "@if(and(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded'), not(equals(coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'))), concat('Failed null verification on ', string(coalesce(outputs('Compose_SCIM_Null_Update_Summary')?['failedCount'], 0)), ' attributes. See action Compose_SCIM_Null_Update_Summary in the workflow run for full details.'), if(not(equals(variables('SCIMNullUpdateScopeExecutionStatus'), 'Succeeded')), concat('Scope execution failed at action: ', variables('SCIMNullUpdateFailedActionName')), null))"
                      }
                    }
                  }
                },
                "runAfter": {
                  "SCIM_Null_Update_Test_Actions": [
                    "Succeeded",
                    "Failed",
                    "TimedOut"
                  ],
                  "Capture_SCIM_Null_Update_Failed_Action_Details": [
                    "Succeeded",
                    "Skipped"
                  ],
                  "Set_SCIM_Null_Update_Status_Success": [
                    "Succeeded",
                    "Skipped"
                  ]
                },
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIM_Null_Update_Test"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "Null_Update_User_Test"
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_User_Create_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_User_Create_Test_Actions": {
                "actions": {
                  "Generate_SCIM_Direct_UserName": {
                    "type": "Compose",
                    "inputs": "@coalesce(triggerBody()?['initializationData']?['testUserNames']?['scimDirectUser'], concat('lascuser', substring(guid(),0,8), '@test.com'))"
                  },
                  "SCIM_Direct_Create_User": {
                    "runAfter": {
                      "Compose_SCIM_Create_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users')}",
                      "method": "POST",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_SCIM_Create_Body')"
                    }
                  },
                  "Set_SCIM_Direct_Created_UserId": {
                    "runAfter": {
                      "SCIM_Direct_Create_User": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimDirectCreatedUserId",
                      "value": "@{coalesce(body('SCIM_Direct_Create_User')?['id'], '')}"
                    }
                  },
                  "Compose_SCIM_User_Create_Summary": {
                    "runAfter": {
                      "Set_SCIM_Direct_Created_UserId": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_User_Create_Test",
                      "timestamp": "@utcNow()",
                      "scimPostStatusCode": "@outputs('SCIM_Direct_Create_User')?['statusCode']",
                      "createdUserId": "@variables('scimDirectCreatedUserId')",
                      "sentUserName": "@outputs('Generate_SCIM_Direct_UserName')",
                      "responseUserName": "@coalesce(body('SCIM_Direct_Create_User')?['userName'], '')",
                      "userNameRoundTripped": "@equals(coalesce(body('SCIM_Direct_Create_User')?['userName'], ''), outputs('Generate_SCIM_Direct_UserName'))",
                      "errorScimType": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0), 400), coalesce(body('SCIM_Direct_Create_User')?['scimType'], ''), '')",
                      "errorDetail": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0), 400), coalesce(body('SCIM_Direct_Create_User')?['detail'], ''), '')",
                      "errorBody": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0), 400), body('SCIM_Direct_Create_User'), null)",
                      "overallResult": "@if(and(or(equals(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0), 0), equals(outputs('SCIM_Direct_Create_User')?['statusCode'], 200), equals(outputs('SCIM_Direct_Create_User')?['statusCode'], 201)), not(empty(variables('scimDirectCreatedUserId'))), equals(coalesce(body('SCIM_Direct_Create_User')?['userName'], ''), outputs('Generate_SCIM_Direct_UserName'))), 'PASSED', 'FAILED')"
                    }
                  },
                  "Set_SCIMUserCreateTestOutputs": {
                    "runAfter": {
                      "Compose_SCIM_User_Create_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMUserCreateTestOutputs",
                      "value": {
                        "overallResult": "@coalesce(outputs('Compose_SCIM_User_Create_Summary')?['overallResult'], 'FAILED')",
                        "result": "@if(equals(coalesce(outputs('Compose_SCIM_User_Create_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', concat('FAILED - Action: SCIM_Direct_Create_User - HTTP ', string(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0)), '. ', if(empty(variables('scimDirectCreatedUserId')), 'No user id returned. ', ''), if(not(equals(coalesce(body('SCIM_Direct_Create_User')?['userName'], ''), outputs('Generate_SCIM_Direct_UserName'))), 'Returned userName did not match sent userName. ', ''), if(not(empty(coalesce(body('SCIM_Direct_Create_User')?['scimType'], ''))), concat('scimType=', string(body('SCIM_Direct_Create_User')?['scimType']), '. '), ''), if(not(empty(coalesce(body('SCIM_Direct_Create_User')?['detail'], ''))), concat('detail=', string(body('SCIM_Direct_Create_User')?['detail'])), '')))",
                        "summary": "@outputs('Compose_SCIM_User_Create_Summary')",
                        "detailedResults": [],
                        "errorDetails": {
                          "summary": "@if(equals(coalesce(outputs('Compose_SCIM_User_Create_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, concat('SCIM POST /Users HTTP ', string(coalesce(outputs('SCIM_Direct_Create_User')?['statusCode'], 0)), '. Response: ', substring(string(coalesce(body('SCIM_Direct_Create_User'), json('{}'))), 0, min(800, length(string(coalesce(body('SCIM_Direct_Create_User'), json('{}'))))))))"
                        }
                      }
                    }
                  },
                  "SCIM_Cleanup_Delete_Created_User": {
                    "runAfter": {
                      "Set_SCIMUserCreateTestOutputs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@variables('scimDirectCreatedUserId')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_Delete_Direct_Test_User": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Users/', variables('scimDirectCreatedUserId'))}",
                          "method": "DELETE",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Compose_SCIM_Create_Body": {
                    "runAfter": {
                      "Generate_SCIM_Direct_UserName": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(coalesce(triggerBody()?['initializationData']?['scimUserBody'], json('{}')), 'userName', outputs('Generate_SCIM_Direct_UserName'))"
                  }
                },
                "runAfter": {},
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIM_User_Create_Test"
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_Group_Create_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_Group_Create_Test_Actions": {
                "actions": {
                  "Generate_SCIM_Direct_GroupName": {
                    "type": "Compose",
                    "inputs": "@coalesce(triggerBody()?['initializationData']?['testGroupNames']?['scimDirectGroup'], concat('LASCDirectGroup-', substring(guid(),0,8)))"
                  },
                  "SCIM_Direct_Create_Group": {
                    "runAfter": {
                      "Compose_SCIM_Group_Create_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Groups')}",
                      "method": "POST",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_SCIM_Group_Create_Body')"
                    }
                  },
                  "Set_SCIM_Direct_Created_GroupId": {
                    "runAfter": {
                      "SCIM_Direct_Create_Group": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimDirectCreatedGroupId",
                      "value": "@{coalesce(body('SCIM_Direct_Create_Group')?['id'], '')}"
                    }
                  },
                  "Compose_SCIM_Group_Create_Summary": {
                    "runAfter": {
                      "Set_SCIM_Direct_Created_GroupId": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_Group_Create_Test",
                      "timestamp": "@utcNow()",
                      "scimPostStatusCode": "@outputs('SCIM_Direct_Create_Group')?['statusCode']",
                      "createdGroupId": "@variables('scimDirectCreatedGroupId')",
                      "sentDisplayName": "@outputs('Generate_SCIM_Direct_GroupName')",
                      "responseDisplayName": "@coalesce(body('SCIM_Direct_Create_Group')?['displayName'], '')",
                      "displayNameRoundTripped": "@equals(coalesce(body('SCIM_Direct_Create_Group')?['displayName'], ''), outputs('Generate_SCIM_Direct_GroupName'))",
                      "errorScimType": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_Group')?['statusCode'], 0), 400), coalesce(body('SCIM_Direct_Create_Group')?['scimType'], ''), '')",
                      "errorDetail": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_Group')?['statusCode'], 0), 400), coalesce(body('SCIM_Direct_Create_Group')?['detail'], ''), '')",
                      "errorBody": "@if(greaterOrEquals(coalesce(outputs('SCIM_Direct_Create_Group')?['statusCode'], 0), 400), body('SCIM_Direct_Create_Group'), null)",
                      "overallResult": "@if(and(or(equals(outputs('SCIM_Direct_Create_Group')?['statusCode'], 200), equals(outputs('SCIM_Direct_Create_Group')?['statusCode'], 201)), not(empty(variables('scimDirectCreatedGroupId'))), equals(coalesce(body('SCIM_Direct_Create_Group')?['displayName'], ''), outputs('Generate_SCIM_Direct_GroupName'))), 'PASSED', 'FAILED')"
                    }
                  },
                  "Set_SCIMGroupCreateTestOutputs": {
                    "runAfter": {
                      "Compose_SCIM_Group_Create_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMGroupCreateTestOutputs",
                      "value": {
                        "overallResult": "@coalesce(outputs('Compose_SCIM_Group_Create_Summary')?['overallResult'], 'FAILED')",
                        "result": "@if(equals(coalesce(outputs('Compose_SCIM_Group_Create_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', concat('FAILED - Action: SCIM_Direct_Create_Group - HTTP ', string(coalesce(outputs('SCIM_Direct_Create_Group')?['statusCode'], 0)), '. ', if(empty(variables('scimDirectCreatedGroupId')), 'No group id returned. ', ''), if(not(equals(coalesce(body('SCIM_Direct_Create_Group')?['displayName'], ''), outputs('Generate_SCIM_Direct_GroupName'))), 'Returned displayName did not match sent displayName. ', ''), if(not(empty(coalesce(body('SCIM_Direct_Create_Group')?['scimType'], ''))), concat('scimType=', string(body('SCIM_Direct_Create_Group')?['scimType']), '. '), ''), if(not(empty(coalesce(body('SCIM_Direct_Create_Group')?['detail'], ''))), concat('detail=', string(body('SCIM_Direct_Create_Group')?['detail'])), '')))",
                        "summary": "@outputs('Compose_SCIM_Group_Create_Summary')",
                        "detailedResults": [],
                        "errorDetails": {
                          "summary": "@if(equals(coalesce(outputs('Compose_SCIM_Group_Create_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, concat('SCIM POST /Groups HTTP ', string(coalesce(outputs('SCIM_Direct_Create_Group')?['statusCode'], 0)), '. Response: ', substring(string(coalesce(body('SCIM_Direct_Create_Group'), json('{}'))), 0, min(800, length(string(coalesce(body('SCIM_Direct_Create_Group'), json('{}'))))))))"
                        }
                      }
                    }
                  },
                  "SCIM_Cleanup_Delete_Created_Group": {
                    "runAfter": {
                      "Set_SCIMGroupCreateTestOutputs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@variables('scimDirectCreatedGroupId')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_Delete_Direct_Test_Group": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Groups/', variables('scimDirectCreatedGroupId'))}",
                          "method": "DELETE",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Compose_SCIM_Group_Create_Body": {
                    "runAfter": {
                      "Generate_SCIM_Direct_GroupName": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(setProperty(coalesce(triggerBody()?['initializationData']?['scimGroupBody'], json('{}')), 'displayName', outputs('Generate_SCIM_Direct_GroupName')), 'externalId', substring(guid(),0,8))"
                  }
                },
                "runAfter": {},
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@coalesce(triggerBody()?['initializationData']?['isGroupSupported'], false)",
                    true
                  ]
                },
                {
                  "or": [
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "All"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "SCIMTests"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "SCIM_Group_Create_Test"
                      ]
                    }
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_User_Update_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_User_Update_Test_Actions": {
                "actions": {
                  "Generate_SCIM_Update_UserName": {
                    "type": "Compose",
                    "inputs": "@concat('lasupduser', substring(guid(),0,8), '@', coalesce(parameters('testUserDomain'), 'test.com'))"
                  },
                  "SCIM_Update_Create_User": {
                    "runAfter": {
                      "Compose_SCIM_Update_Create_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users')}",
                      "method": "POST",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_SCIM_Update_Create_Body')"
                    }
                  },
                  "Set_SCIM_Update_UserId": {
                    "runAfter": {
                      "SCIM_Update_Create_User": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimDirectUpdateUserId",
                      "value": "@{coalesce(body('SCIM_Update_Create_User')?['id'], '')}"
                    }
                  },
                  "Filter_Update_Eligible_Attributes": {
                    "runAfter": {
                      "Set_SCIM_Update_UserId": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(triggerBody()?['initializationData']?['targetDirectoryUserAttributes'], json('[]'))",
                      "where": "@and(and(and(and(equals(coalesce(item()?['multivalued'], item()?['multiValued'], false), false), or(equals(toLower(coalesce(item()?['mutability'], 'readwrite')), 'readwrite'), equals(toLower(coalesce(item()?['mutability'], 'readwrite')), 'writeonly'))), not(contains(toLower(coalesce(item()?['type'], 'string')), 'reference'))), not(equals(toLower(coalesce(item()?['type'], 'string')), 'boolean'))), and(and(and(not(equals(coalesce(item()?['name'], ''), 'id')), not(equals(coalesce(item()?['name'], ''), 'schemas'))), not(equals(coalesce(item()?['name'], ''), 'meta'))), and(not(equals(coalesce(item()?['name'], ''), 'active')), not(contains(createArray('groups','roles'), coalesce(item()?['name'], ''))))))"
                    }
                  },
                  "Filter_Update_Typed_Attributes": {
                    "runAfter": {
                      "Filter_Update_Eligible_Attributes": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@body('Filter_Update_Eligible_Attributes')",
                      "where": "@contains(json('[\"string\",\"integer\",\"datetime\"]'), toLower(coalesce(item()?['type'], 'string')))"
                    }
                  },
                  "Select_Update_Patch_Ops": {
                    "runAfter": {
                      "Filter_Update_Typed_Attributes": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_Update_Typed_Attributes')",
                      "select": {
                        "op": "Replace",
                        "path": "@coalesce(item()?['name'], '')",
                        "value": "@if(and(greater(length(coalesce(triggerBody()?['scimTargetUserValues'], json('[]'))), 1), contains(triggerBody()?['scimTargetUserValues'][1], coalesce(item()?['name'], ''))), triggerBody()?['scimTargetUserValues'][1][coalesce(item()?['name'], '')], if(equals(toLower(coalesce(item()?['type'], 'string')), 'integer'), rand(1, 99999), if(equals(toLower(coalesce(item()?['type'], 'string')), 'datetime'), utcNow(), concat('upd-', substring(guid(),0,8)))))"
                      }
                    }
                  },
                  "Compose_Update_Patch_Body": {
                    "runAfter": {
                      "Select_Update_Patch_Ops": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                      ],
                      "Operations": "@body('Select_Update_Patch_Ops')"
                    }
                  },
                  "Check_Update_Has_Eligible_Attrs": {
                    "runAfter": {
                      "Compose_Update_Patch_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "and": [
                            {
                              "greater": [
                                "@length(body('Select_Update_Patch_Ops'))",
                                0
                              ]
                            },
                            {
                              "not": {
                                "equals": [
                                  "@variables('scimDirectUpdateUserId')",
                                  ""
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_Update_Patch_User": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Users/', variables('scimDirectUpdateUserId'))}",
                          "method": "PATCH",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Content-Type": "@{parameters('scimContentType')}",
                            "Accept": "@{parameters('scimContentType')}"
                          },
                          "body": "@outputs('Compose_Update_Patch_Body')"
                        }
                      },
                      "SCIM_Update_Get_User": {
                        "runAfter": {
                          "SCIM_Update_Patch_User": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Users/', variables('scimDirectUpdateUserId'))}",
                          "method": "GET",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      },
                      "Compose_Update_Verification": {
                        "runAfter": {
                          "SCIM_Update_Get_User": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Select_Update_Patch_Ops')",
                          "select": {
                            "path": "@item()?['path']",
                            "sent": "@item()?['value']",
                            "got": "@if(contains(string(item()?['path']), '['), string(coalesce(body('SCIM_Update_Get_User')?[first(split(string(item()?['path']), '['))], '[]')), if(startsWith(string(item()?['path']), 'urn:'), string(coalesce(body('SCIM_Update_Get_User')?[substring(string(item()?['path']), 0, lastIndexOf(string(item()?['path']), ':'))]?[substring(string(item()?['path']), add(lastIndexOf(string(item()?['path']), ':'), 1), sub(length(string(item()?['path'])), add(lastIndexOf(string(item()?['path']), ':'), 1)))], '')), if(contains(string(item()?['path']), '.'), string(coalesce(body('SCIM_Update_Get_User')?[first(split(string(item()?['path']), '.'))]?[last(split(string(item()?['path']), '.'))], '')), string(coalesce(body('SCIM_Update_Get_User')?[string(item()?['path'])], '')))))",
                            "match": "@if(contains(string(item()?['path']), '['), contains(string(coalesce(body('SCIM_Update_Get_User')?[first(split(string(item()?['path']), '['))], '[]')), string(item()?['value'])), if(startsWith(string(item()?['path']), 'urn:'), equals(string(coalesce(body('SCIM_Update_Get_User')?[substring(string(item()?['path']), 0, lastIndexOf(string(item()?['path']), ':'))]?[substring(string(item()?['path']), add(lastIndexOf(string(item()?['path']), ':'), 1), sub(length(string(item()?['path'])), add(lastIndexOf(string(item()?['path']), ':'), 1)))], '')), string(item()?['value'])), if(contains(string(item()?['path']), '.'), equals(string(coalesce(body('SCIM_Update_Get_User')?[first(split(string(item()?['path']), '.'))]?[last(split(string(item()?['path']), '.'))], '')), string(item()?['value'])), equals(string(coalesce(body('SCIM_Update_Get_User')?[string(item()?['path'])], '')), string(item()?['value'])))))"
                          }
                        }
                      },
                      "Filter_Update_Mismatches": {
                        "runAfter": {
                          "Compose_Update_Verification": [
                            "Succeeded"
                          ]
                        },
                        "type": "Query",
                        "inputs": {
                          "from": "@body('Compose_Update_Verification')",
                          "where": "@equals(item()?['match'], false)"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Compose_SCIM_User_Update_Summary": {
                    "runAfter": {
                      "Check_Update_Has_Eligible_Attrs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_User_Update_Test",
                      "timestamp": "@utcNow()",
                      "createdUserId": "@variables('scimDirectUpdateUserId')",
                      "createPostStatusCode": "@coalesce(outputs('SCIM_Update_Create_User')?['statusCode'], 0)",
                      "ignoreAttributesFromUpdateTest": "@createArray('groups','roles')",
                      "eligibleAttrCount": "@length(coalesce(body('Filter_Update_Eligible_Attributes'), json('[]')))",
                      "typedAttrCount": "@length(coalesce(body('Filter_Update_Typed_Attributes'), json('[]')))",
                      "patchOpCount": "@length(coalesce(body('Select_Update_Patch_Ops'), json('[]')))",
                      "patchSent": "@outputs('Compose_Update_Patch_Body')",
                      "patchStatusCode": "@coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0)",
                      "getStatusCode": "@coalesce(outputs('SCIM_Update_Get_User')?['statusCode'], 0)",
                      "responseAfterPatch": "@coalesce(body('SCIM_Update_Get_User'), json('{}'))",
                      "verification": "@coalesce(body('Compose_Update_Verification'), json('[]'))",
                      "mismatches": "@coalesce(body('Filter_Update_Mismatches'), json('[]'))",
                      "errorScimType": "@if(greaterOrEquals(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0), 400), coalesce(body('SCIM_Update_Patch_User')?['scimType'], ''), '')",
                      "errorDetail": "@if(greaterOrEquals(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0), 400), coalesce(body('SCIM_Update_Patch_User')?['detail'], ''), '')",
                      "errorBody": "@if(greaterOrEquals(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0), 400), body('SCIM_Update_Patch_User'), null)",
                      "overallResult": "@if(equals(length(coalesce(body('Select_Update_Patch_Ops'), json('[]'))), 0), 'PASSED', if(and(and(or(equals(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0), 200), equals(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0), 204)), or(equals(coalesce(outputs('SCIM_Update_Get_User')?['statusCode'], 0), 200), equals(coalesce(outputs('SCIM_Update_Get_User')?['statusCode'], 0), 204))), equals(length(coalesce(body('Filter_Update_Mismatches'), json('[]'))), 0)), 'PASSED', 'FAILED'))"
                    }
                  },
                  "Set_SCIMUserUpdateTestOutputs": {
                    "runAfter": {
                      "Compose_SCIM_User_Update_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMUserUpdateTestOutputs",
                      "value": {
                        "overallResult": "@coalesce(outputs('Compose_SCIM_User_Update_Summary')?['overallResult'], 'FAILED')",
                        "result": "@if(equals(coalesce(outputs('Compose_SCIM_User_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'), if(equals(length(coalesce(body('Select_Update_Patch_Ops'), json('[]'))), 0), 'success (no updatable attributes)', 'success'), concat('FAILED - Action: SCIM_Update_Patch_User - HTTP ', string(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0)), '. ', if(greater(length(coalesce(body('Filter_Update_Mismatches'), json('[]'))), 0), concat('Mismatches=', string(length(coalesce(body('Filter_Update_Mismatches'), json('[]')))), '. '), ''), if(not(empty(coalesce(body('SCIM_Update_Patch_User')?['scimType'], ''))), concat('scimType=', string(body('SCIM_Update_Patch_User')?['scimType']), '. '), ''), if(not(empty(coalesce(body('SCIM_Update_Patch_User')?['detail'], ''))), concat('detail=', string(body('SCIM_Update_Patch_User')?['detail'])), '')))",
                        "summary": "@outputs('Compose_SCIM_User_Update_Summary')",
                        "detailedResults": "@coalesce(body('Compose_Update_Verification'), json('[]'))",
                        "errorDetails": {
                          "summary": "@if(equals(coalesce(outputs('Compose_SCIM_User_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, concat('SCIM PATCH /Users HTTP ', string(coalesce(outputs('SCIM_Update_Patch_User')?['statusCode'], 0)), '. Mismatches=', string(length(coalesce(body('Filter_Update_Mismatches'), json('[]')))), '. Response: ', substring(string(coalesce(body('SCIM_Update_Patch_User'), json('{}'))), 0, min(800, length(string(coalesce(body('SCIM_Update_Patch_User'), json('{}'))))))))"
                        }
                      }
                    }
                  },
                  "SCIM_Cleanup_Delete_Update_User": {
                    "runAfter": {
                      "Set_SCIMUserUpdateTestOutputs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@variables('scimDirectUpdateUserId')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_Delete_Update_Test_User": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Users/', variables('scimDirectUpdateUserId'))}",
                          "method": "DELETE",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Compose_SCIM_Update_Create_Body": {
                    "runAfter": {
                      "Generate_SCIM_Update_UserName": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(coalesce(triggerBody()?['initializationData']?['scimUserBody'], json('{}')), 'userName', outputs('Generate_SCIM_Update_UserName'))"
                  }
                },
                "runAfter": {},
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIM_User_Update_Test"
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_Group_Update_Test": {
            "runAfter": {},
            "actions": {
              "SCIM_Group_Update_Test_Actions": {
                "actions": {
                  "Generate_SCIM_GroupUpdate_GroupName": {
                    "type": "Compose",
                    "inputs": "@concat('LASUpdGroup-', substring(guid(),0,8))"
                  },
                  "SCIM_GroupUpdate_Create_Group": {
                    "runAfter": {
                      "Compose_GroupUpdate_Create_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Groups')}",
                      "method": "POST",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Content-Type": "@{parameters('scimContentType')}",
                        "Accept": "@{parameters('scimContentType')}"
                      },
                      "body": "@outputs('Compose_GroupUpdate_Create_Body')"
                    }
                  },
                  "Set_SCIM_GroupUpdate_GroupId": {
                    "runAfter": {
                      "SCIM_GroupUpdate_Create_Group": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimDirectUpdateGroupId",
                      "value": "@{coalesce(body('SCIM_GroupUpdate_Create_Group')?['id'], '')}"
                    }
                  },
                  "Compose_SCIM_Group_Update_Summary": {
                    "runAfter": {
                      "Check_GroupUpdate_Has_GroupId": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_Group_Update_Test",
                      "timestamp": "@utcNow()",
                      "createdGroupId": "@variables('scimDirectUpdateGroupId')",
                      "createPostStatusCode": "@coalesce(outputs('SCIM_GroupUpdate_Create_Group')?['statusCode'], 0)",
                      "eligibleAttrCount": "@length(coalesce(body('Filter_GroupUpdate_Eligible'), json('[]')))",
                      "patchOpCount": "@length(coalesce(body('Select_GroupUpdate_Patch_Ops'), json('[]')))",
                      "patchSent": "@outputs('Compose_GroupUpdate_Patch_Body')",
                      "patchStatusCode": "@coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0)",
                      "getStatusCode": "@coalesce(outputs('SCIM_GroupUpdate_Get_Group')?['statusCode'], 0)",
                      "verification": "@coalesce(body('Compose_GroupUpdate_Verification'), json('[]'))",
                      "mismatches": "@coalesce(body('Filter_GroupUpdate_Mismatches'), json('[]'))",
                      "errorScimType": "@if(greaterOrEquals(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0), 400), coalesce(body('SCIM_GroupUpdate_Patch_Group')?['scimType'], ''), '')",
                      "errorDetail": "@if(greaterOrEquals(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0), 400), coalesce(body('SCIM_GroupUpdate_Patch_Group')?['detail'], ''), '')",
                      "overallResult": "@if(and(and(or(equals(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0), 200), equals(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0), 204)), or(equals(coalesce(outputs('SCIM_GroupUpdate_Get_Group')?['statusCode'], 0), 200), equals(coalesce(outputs('SCIM_GroupUpdate_Get_Group')?['statusCode'], 0), 204))), equals(length(coalesce(body('Filter_GroupUpdate_Mismatches'), json('[]'))), 0)), 'PASSED', 'FAILED')"
                    }
                  },
                  "Set_SCIMGroupUpdateTestOutputs": {
                    "runAfter": {
                      "Compose_SCIM_Group_Update_Summary": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMGroupUpdateTestOutputs",
                      "value": {
                        "overallResult": "@coalesce(outputs('Compose_SCIM_Group_Update_Summary')?['overallResult'], 'FAILED')",
                        "result": "@if(equals(coalesce(outputs('Compose_SCIM_Group_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', concat('FAILED - Action: SCIM_GroupUpdate_Patch_Group - HTTP ', string(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0)), '. Mismatches=', string(length(coalesce(body('Filter_GroupUpdate_Mismatches'), json('[]'))))))",
                        "summary": "@outputs('Compose_SCIM_Group_Update_Summary')",
                        "detailedResults": "@coalesce(body('Compose_GroupUpdate_Verification'), json('[]'))",
                        "errorDetails": {
                          "summary": "@if(equals(coalesce(outputs('Compose_SCIM_Group_Update_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, concat('SCIM PATCH /Groups HTTP ', string(coalesce(outputs('SCIM_GroupUpdate_Patch_Group')?['statusCode'], 0)), '. Response: ', substring(string(coalesce(body('SCIM_GroupUpdate_Patch_Group'), json('{}'))), 0, min(800, length(string(coalesce(body('SCIM_GroupUpdate_Patch_Group'), json('{}'))))))))"
                        }
                      }
                    }
                  },
                  "SCIM_Cleanup_Delete_Update_Group": {
                    "runAfter": {
                      "Set_SCIMGroupUpdateTestOutputs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@variables('scimDirectUpdateGroupId')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_Delete_Update_Test_Group": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Groups/', variables('scimDirectUpdateGroupId'))}",
                          "method": "DELETE",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Compose_GroupUpdate_Create_Body": {
                    "runAfter": {
                      "Generate_SCIM_GroupUpdate_GroupName": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(setProperty(coalesce(triggerBody()?['initializationData']?['scimGroupBody'], json('{}')), 'displayName', outputs('Generate_SCIM_GroupUpdate_GroupName')), 'externalId', substring(guid(),0,8))"
                  },
                  "Filter_GroupUpdate_Eligible": {
                    "runAfter": {
                      "Set_SCIM_GroupUpdate_GroupId": [
                        "Succeeded"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@coalesce(triggerBody()?['initializationData']?['targetDirectoryGroupAttributes'], json('[]'))",
                      "where": "@and(and(and(equals(coalesce(item()?['multivalued'], item()?['multiValued'], false), false), or(equals(toLower(coalesce(item()?['mutability'], 'readwrite')), 'readwrite'), equals(toLower(coalesce(item()?['mutability'], 'readwrite')), 'writeonly'))), not(contains(toLower(coalesce(item()?['type'], 'string')), 'reference'))), and(not(equals(coalesce(item()?['name'], ''), 'id')), not(equals(toLower(coalesce(item()?['type'], 'string')), 'boolean'))))"
                    }
                  },
                  "Select_GroupUpdate_Patch_Ops": {
                    "runAfter": {
                      "Filter_GroupUpdate_Eligible": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Filter_GroupUpdate_Eligible')",
                      "select": {
                        "op": "Replace",
                        "path": "@coalesce(item()?['name'], '')",
                        "value": "@concat('upd-', substring(guid(),0,8))"
                      }
                    }
                  },
                  "Compose_GroupUpdate_Patch_Body": {
                    "runAfter": {
                      "Select_GroupUpdate_Patch_Ops": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                      ],
                      "Operations": "@body('Select_GroupUpdate_Patch_Ops')"
                    }
                  },
                  "Check_GroupUpdate_Has_GroupId": {
                    "runAfter": {
                      "Compose_GroupUpdate_Patch_Body": [
                        "Succeeded"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@variables('scimDirectUpdateGroupId')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "SCIM_GroupUpdate_Patch_Group": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Groups/', variables('scimDirectUpdateGroupId'))}",
                          "method": "PATCH",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Content-Type": "@{parameters('scimContentType')}",
                            "Accept": "@{parameters('scimContentType')}"
                          },
                          "body": "@outputs('Compose_GroupUpdate_Patch_Body')"
                        }
                      },
                      "SCIM_GroupUpdate_Get_Group": {
                        "runAfter": {
                          "SCIM_GroupUpdate_Patch_Group": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Groups/', variables('scimDirectUpdateGroupId'))}",
                          "method": "GET",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      },
                      "Compose_GroupUpdate_Verification": {
                        "runAfter": {
                          "SCIM_GroupUpdate_Get_Group": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Select_GroupUpdate_Patch_Ops')",
                          "select": {
                            "path": "@item()?['path']",
                            "sent": "@item()?['value']",
                            "got": "@string(coalesce(body('SCIM_GroupUpdate_Get_Group')?[string(item()?['path'])], ''))",
                            "match": "@equals(string(coalesce(body('SCIM_GroupUpdate_Get_Group')?[string(item()?['path'])], '')), string(item()?['value']))"
                          }
                        }
                      },
                      "Filter_GroupUpdate_Mismatches": {
                        "runAfter": {
                          "Compose_GroupUpdate_Verification": [
                            "Succeeded"
                          ]
                        },
                        "type": "Query",
                        "inputs": {
                          "from": "@body('Compose_GroupUpdate_Verification')",
                          "where": "@equals(item()?['match'], false)"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  }
                },
                "runAfter": {},
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@coalesce(triggerBody()?['initializationData']?['isGroupSupported'], false)",
                    true
                  ]
                },
                {
                  "or": [
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "All"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "SCIMTests"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerBody()?['EnabledTests']",
                        "SCIM_Group_Update_Test"
                      ]
                    }
                  ]
                }
              ]
            },
            "type": "If"
          },
          "Validate_Credentials_Test": {
            "runAfter": {},
            "actions": {
              "Acquire_OAuth2_Token": {
                "type": "Http",
                "inputs": {
                  "uri": "@{parameters('scimTokenEndpoint')}",
                  "method": "POST",
                  "headers": {
                    "Content-Type": "application/x-www-form-urlencoded"
                  },
                  "body": "@{concat('grant_type=client_credentials&client_id=', encodeUriComponent(parameters('scimClientId')), '&client_secret=', encodeUriComponent(parameters('scimClientSecret')), if(empty(coalesce(parameters('scimOAuthScope'), '')), '', concat('&scope=', encodeUriComponent(parameters('scimOAuthScope')))))}"
                }
              },
              "Check_Token_Acquired": {
                "runAfter": {
                  "Acquire_OAuth2_Token": [
                    "Succeeded",
                    "Failed",
                    "TimedOut"
                  ]
                },
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greaterOrEquals": [
                        "@coalesce(outputs('Acquire_OAuth2_Token')?['statusCode'], 0)",
                        200
                      ]
                    },
                    {
                      "less": [
                        "@coalesce(outputs('Acquire_OAuth2_Token')?['statusCode'], 0)",
                        300
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@coalesce(body('Acquire_OAuth2_Token')?['access_token'], '')",
                          ""
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "SCIM_Validate_With_OAuth_Token": {
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users?startIndex=1&count=1')}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', body('Acquire_OAuth2_Token')?['access_token'])}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "Compose_OAuth_Validation_Summary": {
                    "runAfter": {
                      "SCIM_Validate_With_OAuth_Token": [
                        "Succeeded",
                        "Failed",
                        "TimedOut"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "Validate_Credentials_Test",
                      "timestamp": "@utcNow()",
                      "authMode": "OAuth2ClientCredentials",
                      "tokenEndpoint": "@parameters('scimTokenEndpoint')",
                      "tokenAcquisition": {
                        "statusCode": "@outputs('Acquire_OAuth2_Token')['statusCode']",
                        "hasAccessToken": true,
                        "passed": true
                      },
                      "scimEndpointValidation": {
                        "endpoint": "@concat(parameters('scimEndpoint'), '/Users?startIndex=1&count=1')",
                        "statusCode": "@coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0)",
                        "passed": "@and(greaterOrEquals(coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0), 200), less(coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0), 300))"
                      },
                      "overallResult": "@if(and(greaterOrEquals(coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0), 200), less(coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0), 300)), 'PASSED', 'FAILED')"
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Compose_OAuth_Validation_Summary_TokenFail": {
                      "type": "Compose",
                      "inputs": {
                        "testName": "Validate_Credentials_Test",
                        "timestamp": "@utcNow()",
                        "authMode": "OAuth2ClientCredentials",
                        "tokenEndpoint": "@parameters('scimTokenEndpoint')",
                        "tokenAcquisition": {
                          "statusCode": "@coalesce(outputs('Acquire_OAuth2_Token')?['statusCode'], 0)",
                          "hasAccessToken": "@not(equals(coalesce(body('Acquire_OAuth2_Token')?['access_token'], ''), ''))",
                          "passed": false
                        },
                        "scimEndpointValidation": null,
                        "overallResult": "FAILED"
                      }
                    }
                  }
                }
              },
              "Set_ValidateCredentialsTestOutputs": {
                "runAfter": {
                  "Check_Token_Acquired": [
                    "Succeeded",
                    "Failed",
                    "TimedOut",
                    "Skipped"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ValidateCredentialsTestOutputs",
                  "value": {
                    "overallResult": "@coalesce(outputs('Compose_OAuth_Validation_Summary')?['overallResult'], outputs('Compose_OAuth_Validation_Summary_TokenFail')?['overallResult'], 'FAILED')",
                    "result": "@if(equals(coalesce(outputs('Compose_OAuth_Validation_Summary')?['overallResult'], outputs('Compose_OAuth_Validation_Summary_TokenFail')?['overallResult'], 'FAILED'), 'PASSED'), 'success', if(empty(coalesce(outputs('Compose_OAuth_Validation_Summary'), json('null'))), 'FAILED - Action: Acquire_OAuth2_Token - token acquisition failed', 'FAILED - Action: SCIM_Validate_With_OAuth_Token - SCIM endpoint validation failed'))",
                    "summary": "@coalesce(outputs('Compose_OAuth_Validation_Summary'), outputs('Compose_OAuth_Validation_Summary_TokenFail'))",
                    "detailedResults": [],
                    "errorDetails": {
                      "summary": "@if(equals(coalesce(outputs('Compose_OAuth_Validation_Summary')?['overallResult'], outputs('Compose_OAuth_Validation_Summary_TokenFail')?['overallResult'], 'FAILED'), 'PASSED'), null, if(empty(coalesce(outputs('Compose_OAuth_Validation_Summary'), json('null'))), concat('Token acquisition failed. Status: ', string(coalesce(outputs('Acquire_OAuth2_Token')?['statusCode'], 0))), concat('SCIM endpoint returned status: ', string(coalesce(outputs('SCIM_Validate_With_OAuth_Token')?['statusCode'], 0)))))"
                    }
                  }
                }
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "Validate_Credentials_Test"
                  ]
                }
              ]
            },
            "type": "If"
          },
          "SCIM_User_Pagination_Test": {
            "runAfter": {},
            "type": "If",
            "actions": {
              "SCIM_User_Pagination_Test_Actions": {
                "actions": {
                  "SCIM_User_Pagination_Check_Count": {
                    "type": "Http",
                    "inputs": {
                      "uri": "@{concat(parameters('scimEndpoint'), '/Users?startIndex=1&count=5')}",
                      "method": "GET",
                      "headers": {
                        "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                        "Accept": "@{parameters('scimContentType')}"
                      }
                    }
                  },
                  "Compose_User_Pagination_Users_To_Create": {
                    "runAfter": {
                      "SCIM_User_Pagination_Check_Count": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@max(0, sub(11, coalesce(body('SCIM_User_Pagination_Check_Count')?['totalResults'], 0)))"
                  },
                  "Check_User_Pagination_Need_Create": {
                    "runAfter": {
                      "Compose_User_Pagination_Users_To_Create": [
                        "Succeeded"
                      ]
                    },
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@outputs('Compose_User_Pagination_Users_To_Create')",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "ForEach_User_Pagination_Create": {
                        "type": "Foreach",
                        "foreach": "@range(0, outputs('Compose_User_Pagination_Users_To_Create'))",
                        "actions": {
                          "SCIM_User_Pagination_Create_User": {
                            "type": "Http",
                            "inputs": {
                              "uri": "@{concat(parameters('scimEndpoint'), '/Users')}",
                              "method": "POST",
                              "headers": {
                                "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                                "Content-Type": "@{parameters('scimContentType')}",
                                "Accept": "@{parameters('scimContentType')}"
                              },
                              "body": "@setProperty(setProperty(triggerBody()?['initializationData']?['scimUserBody'], 'userName', concat('paguser', substring(guid(),0,8), '@', coalesce(parameters('testUserDomain'), 'test.com'))), 'displayName', concat('PagUser ', substring(guid(),0,8)))"
                            }
                          },
                          "Append_User_Pagination_UserId": {
                            "runAfter": {
                              "SCIM_User_Pagination_Create_User": [
                                "Succeeded"
                              ]
                            },
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "scimUserPaginationCreatedIds",
                              "value": "@coalesce(body('SCIM_User_Pagination_Create_User')?['id'], '')"
                            }
                          }
                        },
                        "runtimeConfiguration": {
                          "concurrency": {
                            "repetitions": 5
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Set_User_Pagination_Start_Url": {
                    "runAfter": {
                      "Check_User_Pagination_Need_Create": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scimUserPaginationNextUrl",
                      "value": "@{concat(parameters('scimEndpoint'), '/Users?startIndex=1&count=5')}"
                    }
                  },
                  "Until_User_Pagination_Complete": {
                    "runAfter": {
                      "Set_User_Pagination_Start_Url": [
                        "Succeeded"
                      ]
                    },
                    "type": "Until",
                    "expression": "@or(greaterOrEquals(variables('scimUserPaginationPageCount'), 10), equals(variables('scimUserPaginationNextUrl'), ''))",
                    "limit": {
                      "count": 20,
                      "timeout": "PT5M"
                    },
                    "actions": {
                      "SCIM_User_Pagination_Get_Page": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{variables('scimUserPaginationNextUrl')}",
                          "method": "GET",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      },
                      "Append_User_Page_Result": {
                        "runAfter": {
                          "SCIM_User_Pagination_Get_Page": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "scimUserPaginationResults",
                          "value": {
                            "page": "@variables('scimUserPaginationPageCount')",
                            "url": "@variables('scimUserPaginationNextUrl')",
                            "statusCode": "@coalesce(outputs('SCIM_User_Pagination_Get_Page')?['statusCode'], 0)",
                            "totalResults": "@coalesce(body('SCIM_User_Pagination_Get_Page')?['totalResults'], 0)",
                            "resourceCount": "@length(coalesce(body('SCIM_User_Pagination_Get_Page')?['Resources'], json('[]')))",
                            "responseStartIndex": "@coalesce(body('SCIM_User_Pagination_Get_Page')?['startIndex'], 0)",
                            "expectedStartIndex": "@add(mul(variables('scimUserPaginationPageCount'), 5), 1)",
                            "hasNextLink": "@not(empty(coalesce(body('SCIM_User_Pagination_Get_Page')?['nextPage'], body('SCIM_User_Pagination_Get_Page')?['nextLink'], '')))",
                            "nextLinkValue": "@coalesce(body('SCIM_User_Pagination_Get_Page')?['nextPage'], body('SCIM_User_Pagination_Get_Page')?['nextLink'], '')"
                          }
                        }
                      },
                      "Increment_User_Page_Count": {
                        "runAfter": {
                          "Append_User_Page_Result": [
                            "Succeeded"
                          ]
                        },
                        "type": "IncrementVariable",
                        "inputs": {
                          "name": "scimUserPaginationPageCount",
                          "value": 1
                        }
                      },
                      "Compose_User_Next_Url": {
                        "runAfter": {
                          "Increment_User_Page_Count": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose",
                        "inputs": "@if(and(greater(length(coalesce(body('SCIM_User_Pagination_Get_Page')?['Resources'], json('[]'))), 0), lessOrEquals(add(coalesce(body('SCIM_User_Pagination_Get_Page')?['startIndex'], 1), length(coalesce(body('SCIM_User_Pagination_Get_Page')?['Resources'], json('[]')))), coalesce(body('SCIM_User_Pagination_Get_Page')?['totalResults'], 0))), concat(parameters('scimEndpoint'), '/Users?startIndex=', string(add(coalesce(body('SCIM_User_Pagination_Get_Page')?['startIndex'], 1), length(coalesce(body('SCIM_User_Pagination_Get_Page')?['Resources'], json('[]'))))), '&count=5'), '')"
                      },
                      "Set_User_Next_Url": {
                        "runAfter": {
                          "Compose_User_Next_Url": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "scimUserPaginationNextUrl",
                          "value": "@{outputs('Compose_User_Next_Url')}"
                        }
                      }
                    }
                  },
                  "Filter_User_Pagination_Failed_Pages": {
                    "runAfter": {
                      "Until_User_Pagination_Complete": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('scimUserPaginationResults')",
                      "where": "@or(not(equals(item()?['statusCode'], 200)), not(equals(item()?['responseStartIndex'], item()?['expectedStartIndex'])))"
                    }
                  },
                  "Compose_SCIM_User_Pagination_Summary": {
                    "runAfter": {
                      "Filter_User_Pagination_Failed_Pages": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "testName": "SCIM_User_Pagination_Test",
                      "timestamp": "@utcNow()",
                      "initialTotalResults": "@coalesce(body('SCIM_User_Pagination_Check_Count')?['totalResults'], 0)",
                      "usersCreated": "@length(variables('scimUserPaginationCreatedIds'))",
                      "pagesTraversed": "@variables('scimUserPaginationPageCount')",
                      "pageResults": "@variables('scimUserPaginationResults')",
                      "failedPages": "@body('Filter_User_Pagination_Failed_Pages')",
                      "missingNextLinkCount": "@length(body('Filter_User_Pagination_Failed_Pages'))",
                      "overallResult": "@if(and(greaterOrEquals(variables('scimUserPaginationPageCount'), 2), equals(length(body('Filter_User_Pagination_Failed_Pages')), 0)), 'PASSED', 'FAILED')"
                    }
                  },
                  "Set_SCIMUserPaginationTestOutputs": {
                    "runAfter": {
                      "Compose_SCIM_User_Pagination_Summary": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SCIMUserPaginationTestOutputs",
                      "value": {
                        "overallResult": "@coalesce(outputs('Compose_SCIM_User_Pagination_Summary')?['overallResult'], 'FAILED')",
                        "result": "@if(equals(coalesce(outputs('Compose_SCIM_User_Pagination_Summary')?['overallResult'], 'FAILED'), 'PASSED'), 'success', if(equals(coalesce(actions('Compose_SCIM_User_Pagination_Summary')?['status'], 'Skipped'), 'Skipped'), concat('FAILED - Action: SCIM_User_Pagination_Create_User - setup failed. Created=', string(length(variables('scimUserPaginationCreatedIds')))), concat('FAILED - Action: Filter_User_Pagination_Failed_Pages - Pages=', string(variables('scimUserPaginationPageCount')), ' failedPages=', string(coalesce(length(body('Filter_User_Pagination_Failed_Pages')), 0)))))",
                        "summary": "@coalesce(outputs('Compose_SCIM_User_Pagination_Summary'), createObject('error', 'Pagination setup failed', 'Check_User_Pagination_Need_Create', coalesce(actions('Check_User_Pagination_Need_Create')?['status'], 'Unknown'), 'createdIds', length(variables('scimUserPaginationCreatedIds'))))",
                        "detailedResults": "@variables('scimUserPaginationResults')",
                        "errorDetails": {
                          "summary": "@if(equals(coalesce(outputs('Compose_SCIM_User_Pagination_Summary')?['overallResult'], 'FAILED'), 'PASSED'), null, if(equals(coalesce(actions('Compose_SCIM_User_Pagination_Summary')?['status'], 'Skipped'), 'Skipped'), concat('Pagination user creates failed. Check_User_Pagination_Need_Create status=', coalesce(actions('Check_User_Pagination_Need_Create')?['status'], 'Unknown')), coalesce(string(body('Filter_User_Pagination_Failed_Pages')), 'Unknown error')))"
                        }
                      }
                    }
                  },
                  "SCIM_User_Pagination_Cleanup": {
                    "runAfter": {
                      "Set_SCIMUserPaginationTestOutputs": [
                        "Succeeded",
                        "Failed",
                        "Skipped"
                      ]
                    },
                    "type": "Foreach",
                    "foreach": "@variables('scimUserPaginationCreatedIds')",
                    "actions": {
                      "SCIM_User_Pagination_Delete_User": {
                        "type": "Http",
                        "inputs": {
                          "uri": "@{concat(parameters('scimEndpoint'), '/Users/', items('SCIM_User_Pagination_Cleanup'))}",
                          "method": "DELETE",
                          "headers": {
                            "Authorization": "@{concat('Bearer ', parameters('scimBearerToken'))}",
                            "Accept": "@{parameters('scimContentType')}"
                          }
                        }
                      }
                    },
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 5
                      }
                    }
                  }
                },
                "runAfter": {},
                "type": "Scope"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "or": [
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "All"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIMTests"
                  ]
                },
                {
                  "equals": [
                    "@triggerBody()?['EnabledTests']",
                    "SCIM_User_Pagination_Test"
                  ]
                }
              ]
            }
          }
        },
        "runAfter": {
          "Response_Immediate": [
            "Succeeded"
          ]
        },
        "type": "Scope"
      },
      "Compose_Final_Results": {
        "runAfter": {
          "SCIMTests_Scope": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "type": "Compose",
        "inputs": {
          "SchemaDiscoverabilityTestOutputs": "@variables('SchemaDiscoverabilityTestOutputs')",
          "SCIMNullUpdateTestOutputs": "@variables('SCIMNullUpdateTestOutputs')",
          "ValidateCredentialsTestOutputs": "@variables('ValidateCredentialsTestOutputs')",
          "SCIMUserCreateTestOutputs": "@variables('SCIMUserCreateTestOutputs')",
          "SCIMGroupCreateTestOutputs": "@variables('SCIMGroupCreateTestOutputs')",
          "SCIMUserUpdateTestOutputs": "@variables('SCIMUserUpdateTestOutputs')",
          "SCIMGroupUpdateTestOutputs": "@variables('SCIMGroupUpdateTestOutputs')",
          "testSuiteName": "SCIMTests",
          "status": "@if(or(or(or(equals(variables('SchemaDiscoverabilityTestOutputs')['overallResult'], 'FAILED'), equals(variables('SCIMNullUpdateTestOutputs')['overallResult'], 'FAILED')), or(equals(variables('ValidateCredentialsTestOutputs')['overallResult'], 'FAILED'), equals(variables('SCIMUserCreateTestOutputs')['overallResult'], 'FAILED'))), or(or(equals(variables('SCIMGroupCreateTestOutputs')['overallResult'], 'FAILED'), equals(variables('SCIMUserUpdateTestOutputs')['overallResult'], 'FAILED')), equals(variables('SCIMGroupUpdateTestOutputs')['overallResult'], 'FAILED'))), 'Failed', 'Passed')",
          "workflowRunId": "@workflow().run.name",
          "SCIMUserPaginationTestOutputs": "@variables('SCIMUserPaginationTestOutputs')",
          "SCIMGroupPaginationTestOutputs": "@variables('SCIMGroupPaginationTestOutputs')"
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}